<p id="notice"><%= notice %></p>

  <div class="container" id="main">
    <div class="row">
      <div class="col-md-4 col-sm-6">
      </div>
    <div class="col-md-4 col-sm-6">
      <div class="well"> 
        <form class="form">
          <h4>
            Search
          </h4>
          <div class="input text-center">
            <input type="text" class="form-control input-sm" placeholder="Neighborhood"><br>
            <input type="text" class="form-control input-sm" placeholder="Price"><br>            
              <span class="input-btn">
                <button class="btn btn-sm btn-white" type="button">Filter</button>
              </span>
          </div>
          
        </form>
      </div>

      <% @rooms.each do |room| %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4><%= link_to (room.title), room_path(room) %></h4>
          </div>
          <div class="panel-body">
            <p>
              <%= link_to (image_tag(room.preview.url(:medium), :class => 'room-preview-img')), room_path(room) %>
            </p>
            <p>
              <%= room.neighborhood %> | $<%= room.price %><br>
            </p>
            <hr>
            <p class="pull-left">
              <a href="http://www.twitter.com/bmast39"><img src="http://api.randomuser.me/portraits/med/men/20.jpg" width="28px" height="28px"></a>
              <a href="http://www.twitter.com/zoates"><img src="http://api.randomuser.me/portraits/med/men/21.jpg" width="28px" height="28px"></a>
            </p>
            <br>
            <hr>
            <div class="text-center" 
              <a href="http://imgur.com/iU49cKq"><img src="http://i.imgur.com/iU49cKq.png" title="source: imgur.com" /></a>
              <a href="http://imgur.com/HPNU9c5"><img src="http://i.imgur.com/HPNU9c5.png" title="source: imgur.com" /></a>
            </div>  
          </div>
        </div>
      <% end %>  
    </div> 
  </div>
</div>


