<p id="notice"><%= notice %></p>

<div class="container">
	<div class="row">
	  <div class="col-sm-4 col-sm-offset-4">
	    <div class="panel panel-default">
	      <div class="panel-thumbnail">
	      	<%= image_tag @room.preview.url(:medium), :class => 'room-preview-img' %>
	      </div>
	      <div class="panel-body">
	        <p class="lead"><strong><%= @room.title %></strong></p>
	        <p><%= @room.neighborhood %> | $<%= @room.price %></p>
	        <p><%= @room.description %></p>
	        <hr>
	        <div class="current-roommates">
	        	<p><strong>Current Roommates: </strong><%= @room.roommates %></p>
	      	  <p>
	      	    <img src="http://api.randomuser.me/portraits/med/men/20.jpg" width="28px" height="28px">
	      	    <img src="http://api.randomuser.me/portraits/med/men/21.jpg" width="28px" height="28px">
	      	  </p>
	      	</div>
	      </div>
	    </div> 
	  </div>
	</div>
</div>

<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Delete', room_path(@room),
              method: :delete,
              data: { confirm: 'Are you sure?' } %> |
<%= link_to 'See all rooms', rooms_path %>


