<p id="notice"><%= notice %></p>
<%= image_tag @room.preview.url(:medium) %>
<p>
	<strong><%= @room.title %></strong><br>
	<%= @room.neighborhood %> | 
	$<%= @room.price %>
</p>
<p>
	<%= @room.description %>
</p>
<p>
	Current Roommates: <%= @room.roommates %>
</p>

  
<!--   <%= image_tag @room.preview.url %> -->	
<!-- 	<%= image_tag @room.preview.url(:thumb) %> -->

<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
